Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: 'src/**/*.{js,svelte}'
      run: npx eslint --cache --fix {staged_files} && git add .
    prettier:
      glob: 'src/**/*.{js,scss,md,svelte}'
      run: npx prettier --write {staged_files} && git add .

fix relative paths
  src/scss/fonts/_font-faces.scss
Due: prettier

Update _font-faces.scss
  src/scss/fonts/_font-faces.scss
Due: prettier

Kinesis logo
  src/components/KinesisLogo/KinesisLogo.mdx
  src/components/KinesisLogo/KinesisLogo.stories.svelte
  src/components/KinesisLogo/KinesisLogo.svelte
  src/index.ts
  src/scss/tokens/text/mixins/_text-role.scss
Due: eslint, prettier

ClockWall
  src/components/ClockWall/Clock.svelte
  src/components/ClockWall/ClockWall.mdx
  src/components/ClockWall/ClockWall.stories.svelte
  src/components/ClockWall/ClockWall.svelte
  src/index.ts
Due: eslint, prettier

blog components
  src/components/BlogPost/BlogPost.mdx
  src/components/BlogPost/BlogPost.stories.svelte
  src/components/BlogPost/BlogPost.svelte
  src/components/BlogPost/CopyLink.svelte
  src/components/BlogPost/PostHeadline.svelte
  src/components/BlogPost/utils.ts
  src/components/BlogTOC/BlogTOC.mdx
  src/components/BlogTOC/BlogTOC.stories.svelte
  src/components/BlogTOC/BlogTOC.svelte
  src/components/BlogTOC/TOCList.svelte
  src/components/Byline/Byline.svelte
  src/index.ts
  src/journalize.d.ts
  src/utils/index.ts
Due: eslint, prettier

docs(changeset): Adds graphics blog components
  .changeset/yummy-schools-shout.md
Due: none

lint
  src/components/BlogPost/BlogPost.mdx
  src/components/BlogPost/utils.ts
  src/components/BlogTOC/BlogTOC.mdx
  src/scss/tokens/text/mixins/_text-role.scss
  src/utils/index.ts
Due: prettier

remove text role erroneous
  src/scss/tokens/text/mixins/_text-role.scss
Due: prettier

remove extraneous props on TOCList
  src/components/BlogTOC/TOCList.svelte
Due: eslint, prettier

new styles
  src/components/BlogTOC/BlogTOC.stories.svelte
  src/components/BlogTOC/BlogTOC.svelte
  src/components/BlogTOC/TOCList.svelte
  src/components/ClockWall/ClockWall.svelte
Due: eslint, prettier

edits
  src/components/BlogPost/PostHeadline.svelte
  src/components/BlogTOC/BlogTOC.svelte
  src/components/ClockWall/Clock.svelte
  src/components/ClockWall/ClockWall.svelte
Due: eslint, prettier

docs(changeset): Updates to blog component styles
  .changeset/swift-bats-turn.md
Due: none

fix geojson casting on data
  src/components/TileMap/TileMapLayer.svelte
Due: eslint, prettier

docs(changeset): Fixes error with casting "data" as GeoJSON object
  .changeset/two-frogs-reply.md
Due: none

line charts in progress
  .storybook/main.ts
  LineChart_Setup_Plan.md
  src/components/ChartGrid/ChartGrid.svelte
  src/components/ChartGrid/index.ts
  src/components/LineChart/LineChart.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartGrid.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/data/demo-data.json
  src/components/LineChart/index.ts
  src/components/LineChart/types.ts
  src/components/LineChart/types/index.ts
  src/components/LineChart/utils.ts
  src/components/LineChart/utils/chart.ts
  src/components/LineChart/utils/formatting.ts
  src/components/LineChart/utils/index.ts
  src/components/LineChart/utils/legend.ts
  src/components/LineChart/utils/responsive.ts
Due: eslint, prettier

basic charts done
  package.json
  pnpm-lock.yaml
  src/components/ChartElements/GridLines.svelte
  src/components/ChartElements/XAxis.svelte
  src/components/ChartElements/YAxis.svelte
  src/components/ChartElements/index.ts
  src/components/ChartGrid/ChartGrid.svelte
  src/components/LineChart/LineChart.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartGrid.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/data/countries.json
  src/components/LineChart/data/oil.json
  src/components/LineChart/data/stocks.json
  src/components/LineChart/types/index.ts
  src/components/LineChart/utils/chart.ts
  src/components/LineChart/utils/formatting.ts
  src/components/LineChart/utils/index.ts
  src/components/LineChart/utils/normalize.ts
  src/index.ts
Due: eslint, prettier

swap to casting inside data property
  src/components/TileMap/TileMap.mdx
  src/components/TileMap/TileMapLayer.svelte
Due: eslint, prettier

docs(changeset): Switch casting as GeoJSON to data property
  .changeset/twenty-numbers-learn.md
Due: none

fixed margin left bug
  src/components/ChartElements/GridLines.svelte
  src/components/ChartElements/XAxis.svelte
  src/components/ChartElements/YAxis.svelte
  src/components/LineChart/LineChart.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartGrid.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/components/Legend.svelte
Due: eslint, prettier

remove extra changeset
  .changeset/two-frogs-reply.md
Due: none

finished x axis format docs
  .storybook/preview.ts
  AXIS_FORMATTING_IMPLEMENTATION.md
  X_AND_Y_AXIS_FORMATTING_GUIDE.md
  src/components/ChartElements/XAxis.svelte
  src/components/ChartElements/YAxis.svelte
  src/components/LineChart/LineChart.AxisFormatting.mdx
  src/components/LineChart/LineChart.Props.mdx
  src/components/LineChart/LineChart.SingleMultiLineChart.mdx
  src/components/LineChart/LineChart.SmallMultiples.mdx
  src/components/LineChart/LineChart.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/data/oil.json
  src/components/LineChart/examples/AxisFormatting.svelte
  src/components/LineChart/types/index.ts
  src/components/LineChart/utils/formatting.ts
  src/components/LineChart/utils/normalize.ts
  src/index.ts
Due: eslint, prettier

finished axis format docs
  package.json
  pnpm-lock.yaml
  src/components/LineChart/LineChart.XAxisFormatting.mdx
  src/components/LineChart/LineChart.YAxisFormatting.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/types/index.ts
  src/components/LineChart/utils/formatting.ts
Due: eslint, prettier

finished axis formatter docs
  src/components/LineChart/LineChart.YAxisFormatting.mdx
  src/components/LineChart/LineChart.stories.svelte
Due: eslint, prettier

refactored stories
  .storybook/preview.ts
  src/components/LineChart/LineChart.AnnotationsHighlights.mdx
  src/components/LineChart/LineChart.Props.mdx
  src/components/LineChart/LineChart.SingleMultiLineChart.mdx
  src/components/LineChart/LineChart.SmallMultiples.mdx
  src/components/LineChart/LineChart.XAxisFormatting.mdx
  src/components/LineChart/LineChart.YAxisFormatting.mdx
  src/components/LineChart/LineChart.mdx
  src/components/LineChart/LineChart.stories.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/examples/AxisFormatting.svelte
  src/components/LineChart/stories/LineChart.Annotations.stories.svelte
  src/components/LineChart/stories/LineChart.AxisFormatting.stories.svelte
  src/components/LineChart/stories/LineChart.BasicLayouts.stories.svelte
  src/components/LineChart/stories/LineChart.Reference.stories.svelte
  src/components/LineChart/stories/LineChart.SmallMultiples.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

fixed vertical line, area highlight y vals
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/stories/LineChart.Annotations.stories.svelte
Due: eslint, prettier

finished vertical line docs
  src/components/LineChart/LineChart.AnnotationsHighlights.mdx
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/components/annotations/AreaHighlightAnnotations.svelte
  src/components/LineChart/components/annotations/TextAnnotations.svelte
  src/components/LineChart/components/annotations/VerticalLineAnnotations.svelte
  src/components/LineChart/stories/LineChart.Annotations.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

adds highlights/annos docs
  src/components/LineChart/LineChart.AnnotationsHighlights.mdx
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/components/annotations/AreaHighlightAnnotations.svelte
  src/components/LineChart/components/annotations/TextAnnotations.svelte
  src/components/LineChart/components/annotations/VerticalLineAnnotations.svelte
  src/components/LineChart/stories/LineChart.Annotations.stories.svelte
  src/components/LineChart/stories/LineChart.Reference.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

added lineClass opt
  .storybook/preview.ts
  src/components/LineChart/LineChart.EndLabels.mdx
  src/components/LineChart/LineChart.SingleMultiLineChart.mdx
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/stories/LineChart.Reference.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

working on small multiples docs;
  src/components/LineChart/LineChart.SingleMultiLineChart.mdx
  src/components/LineChart/LineChart.SmallMultiples.mdx
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/stories/LineChart.BasicLayouts.stories.svelte
  src/components/LineChart/stories/LineChart.Reference.stories.svelte
  src/components/LineChart/stories/LineChart.SmallMultiples.stories.svelte
  src/components/LineChart/types/index.ts
  src/components/LineChart/utils/legend.ts
Due: eslint, prettier

simplified grid, width css
  src/components/ChartGrid/ChartGrid.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/Legend.svelte
  src/components/LineChart/stories/LineChart.SmallMultiples.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

stashing before manual svg size fixes
  .storybook/preview.ts
  src/components/LineChart/LineChart.ArchieML.mdx
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/stories/LineChart.ArchieML.stories.svelte
  src/components/LineChart/types/index.ts
Due: eslint, prettier

stashing
  src/components/ChartElements/GridLines.svelte
  src/components/ChartElements/XAxis.svelte
  src/components/ChartElements/YAxis.svelte
  src/components/ChartGrid/ChartGrid.svelte
  src/components/LineChart/LineChart.svelte
  src/components/LineChart/components/ChartSVG.svelte
  src/components/LineChart/stories/LineChart.ArchieML.stories.svelte
Due: eslint, prettier

adds translation byline example
  src/components/Byline/Byline.mdx
  src/components/Byline/Byline.stories.svelte
  src/components/Byline/Byline.svelte
  src/index.ts
  src/utils/index.ts
Due: eslint, prettier

cleanup cloes #406
  src/components/Byline/Byline.stories.svelte
Due: eslint, prettier

docs(changeset): Adds byline translation examples
  .changeset/young-rules-lick.md
Due: none

formats
  src/components/Byline/Byline.mdx
  src/utils/index.ts
Due: none

tweaks demo code blocks
  src/components/Byline/Byline.mdx
Due: none

fix mdx block to svelte
  src/components/Byline/Byline.mdx
Due: none

lints
  src/components/Byline/Byline.mdx
Due: none

updates content import
  src/components/Byline/Byline.mdx
Due: none
