Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files} && git add .

prettier:
  run: npx prettier --write {staged_files} && git add .

docs(changeset): Adds LanguageToggle component
  .changeset/cute-rocks-own.md
Due: none

finishes docs
  src/components/LanguageToggle/LanguageToggle.mdx
  src/components/LanguageToggle/LanguageToggle.stories.svelte
  src/components/LanguageToggle/LanguageToggle.svelte
Due: eslint, prettier

doc edits
  src/components/LanguageToggle/LanguageToggle.mdx
Due: none

tweak locale prop
  src/components/LanguageToggle/LanguageToggle.mdx
Due: none

renames to LanguageButton
  .changeset/cute-rocks-own.md
  src/components/LanguageButton/LanguageButton.mdx
  src/components/LanguageButton/LanguageButton.stories.svelte
  src/components/LanguageButton/LanguageButton.svelte
  src/index.ts
Due: eslint, prettier

tweaks
  src/components/LanguageButton/LanguageButton.mdx
  src/components/LanguageButton/LanguageButton.stories.svelte
  src/components/LanguageButton/LanguageButton.svelte
Due: eslint, prettier

cleanup
  src/components/LanguageButton/LanguageButton.mdx
  src/components/LanguageButton/LanguageButton.stories.svelte
Due: eslint, prettier

linter
  src/components/LanguageButton/LanguageButton.mdx
Due: none

redesign btn
  .vscode/settings.json
  src/components/LanguageButton/LanguageButton.svelte
Due: eslint, prettier

slight underline always visible
  src/components/LanguageButton/LanguageButton.svelte
Due: eslint, prettier

linter
  .vscode/settings.json
Due: none

doc tweak
  src/components/LanguageButton/LanguageButton.mdx
  src/components/LanguageButton/LanguageButton.svelte
Due: eslint, prettier

deletes settings change
  .vscode/settings.json
Due: none

docs(changeset): Redigns language button
  .changeset/common-lions-smell.md
Due: none

feat: add Geocoder component for Mapbox location search
  .changeset/add-geocoder-component.md
  .env.example
  src/components/Geocoder/Geocoder.mdx
  src/components/Geocoder/Geocoder.stories.svelte
  src/components/Geocoder/Geocoder.svelte
  src/components/Geocoder/geocode.ts
  src/components/TileMap/TileMap.stories.svelte
  src/index.ts
Due: eslint, prettier

ci: pass Mapbox token to Chromatic Storybook build
  .github/workflows/chromatic.yaml
Due: none

ci: pass Mapbox token to docs Storybook build
  .github/workflows/docs.yaml
Due: none

revert: restore docs workflow to use shared action
  .github/workflows/docs.yaml
Due: none

edits grid lines
  src/components/ChartElements/GridLines.svelte
Due: eslint, prettier

fixes paths closes #415
  src/components/LanguageButton/LanguageButton.svelte
Due: eslint, prettier

docs(changeset): Adds trailing slash to LanguageButton
  .changeset/good-frogs-call.md
Due: none

feat: add RPTA tracking primitives to Analytics
  src/components/Analytics/Analytics.svelte
  src/components/Analytics/RPTA.mdx
  src/components/Analytics/RPTA.stories.svelte
  src/components/Analytics/providers/index.ts
  src/components/Analytics/providers/rpta.ts
  src/globals.d.ts
  src/index.ts
Due: eslint, prettier

docs(changeset): add RPTA tracking primitives
  .changeset/add-rpta-tracking.md
Due: none

feat: implement RPTA tracking integration in Analytics component
  .gitignore
  src/components/Analytics/Analytics.svelte
  src/components/Analytics/RPTA.mdx
  src/components/Analytics/RPTALoader.svelte
  src/globals.d.ts
Due: eslint, prettier

feat: enhance RPTA story with tracking event controls and logging
  src/components/Analytics/RPTA.stories.svelte
Due: eslint, prettier

feat: enhance RPTA tracking to support additional hostname and initialization check
  src/components/Analytics/providers/rpta.ts
Due: none

Add an `ArcRendering` component and conditionally skip `<main>` wrapper in Arc shell #420
  src/components/ArcRendering/ArcRendering.mdx
  src/components/ArcRendering/ArcRendering.stories.svelte
  src/components/ArcRendering/ArcRendering.svelte
  src/components/Article/Article.svelte
  src/index.ts
Due: eslint, prettier

refactor styles as per #421
  .storybook/Wrapper.svelte
  src/scss/main.scss
  src/scss/reset/_main.scss
  src/scss/reset/_typography.scss
Due: prettier

feat(Legend): Add Legend component with TileMap integration
  .changeset/legend-component.md
  .changeset/tilemap-legend-snippet.md
  src/components/Legend/Legend.mdx
  src/components/Legend/Legend.stories.svelte
  src/components/Legend/Legend.svelte
  src/components/TileMap/TileMap.svelte
  src/index.ts
Due: eslint, prettier

Potential fix for pull request finding
  src/components/Legend/Legend.svelte
Due: eslint, prettier

fix(Legend): Zero legend title top margin so GraphicBlock owns spacing
  src/components/Legend/Legend.svelte
Due: eslint, prettier

Add screenshot-embeds agent skill
  .agents/skills/screenshot-embeds/SKILL.md
  .agents/skills/screenshot-embeds/scripts/screenshot.mjs
Due: none

Add changeset and fix lint
  .agents/skills/screenshot-embeds/scripts/screenshot.mjs
  .changeset/add-screenshot-embeds-skill.md
Due: none

feat(ReferralBlock): add manual stories and extract Referral component
  .changeset/referral-block-manual-stories.md
  src/components/ReferralBlock/Referral.stories.svelte
  src/components/ReferralBlock/Referral.svelte
  src/components/ReferralBlock/ReferralBlock.mdx
  src/components/ReferralBlock/ReferralBlock.stories.svelte
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/ReferralBlock/getReferrals.ts
  src/components/ReferralBlock/types.ts
  src/index.ts
Due: eslint, prettier

feat(InfoTooltip): add accessible info tooltip component
  .changeset/info-tooltip.md
  src/components/InfoTooltip/InfoTooltip.mdx
  src/components/InfoTooltip/InfoTooltip.stories.svelte
  src/components/InfoTooltip/InfoTooltip.svelte
  src/index.ts
Due: eslint, prettier

fix(InfoBox): tighten interior inline padding on mobile
  .changeset/infobox-mobile-padding.md
  src/components/InfoBox/InfoBox.svelte
Due: eslint, prettier

feat(BioBox): add author bio box component
  .changeset/bio-box.md
  src/components/BioBox/Bio.svelte
  src/components/BioBox/BioBox.mdx
  src/components/BioBox/BioBox.stories.svelte
  src/components/BioBox/BioBox.svelte
  src/components/BioBox/SocialLinks.svelte
  src/components/BioBox/types.ts
  src/index.ts
Due: eslint, prettier

Path conditions:
  eslint: any of: src/**/*.{js,svelte}
  prettier: any of: src/**/*.{js,scss,md,svelte}
