Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files} && git add .

prettier:
  run: npx prettier --write {staged_files} && git add .

use placement name as div_id targeting value
  src/components/AdSlot/AdSlot.svelte
Due: eslint, prettier

updated ad types and placement names for inline ads
  src/components/AdSlot/@types/ads.ts
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/InlineAd.svelte
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/ResponsiveAd.svelte
  src/components/AdSlot/SponsorshipAd.svelte
  src/components/AdSlot/stories/docs/inline.md
Due: eslint, prettier

better inline ad docs
  src/components/AdSlot/InlineAd.svelte
  src/components/AdSlot/stories/docs/inline.md
Due: eslint, prettier

unset ad iframe width from CSS reset. cleanup ads slots onDestroy. Ensure loaded ad scripts aren't already in head
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/adScripts/loadScript.ts
Due: eslint, prettier

specify react version
  eslint.config.js
Due: none

workflow tweaks
  .github/workflows/chromatic.yaml
  .github/workflows/release.yaml
Due: none

linting and formatting in lint workflow
  .devcontainer/devcontainer.json
  .github/workflows/lint.yaml
  .github/workflows/release.yaml
  .markdownlint.jsonc
  .prettierignore
  .storybook/preview-head.html
  .vscode/extensions.json
  .vscode/settings.json
  .vscode/svelte.styles.code-snippets
  docs/assets/chunk-S4VUQJ4A-e77a1bf8.js
  docs/assets/flowchart-elk-definition-6f4e6aa0-bf10c999.js
  docs/assets/iframe-3532bc3f.js
  docs/assets/mindmap-definition-0ab67801-d22aa296.js
  docs/sb-addons/controls-3/manager-bundle.js
  eslint.config.js
  package.json
  src/components/PhotoCarousel/stories/photos.json
  src/components/SiteFooter/data.json
  src/components/SiteHeader/data.json
  src/components/SiteHeader/scss/_breakpoints.scss
  src/components/SiteHeader/scss/_colors.scss
  src/components/SiteHeader/scss/_grids.scss
  src/components/SiteHeader/scss/_z-indexes.scss
  src/components/Table/stories/homeRuns.json
  src/components/Table/stories/pressFreedom.json
  src/components/Table/stories/richestWomen.json
  src/docs/docs-components/.eslintrc.cjs
  src/scss/fonts/_font-faces.scss
Due: prettier

use linter action
  .github/workflows/lint.yaml
Due: none

push lint output to branch
  .github/workflows/lint.yaml
Due: none

fetch depth
  .github/workflows/lint.yaml
Due: none

head_ref
  .github/workflows/lint.yaml
Due: none

don't push back
  .github/workflows/lint.yaml
  package.json
Due: none

format
  .github/workflows/lint.yaml
Due: none

remove lots. new packaging script
  bin/buildPackage/index.js
  bin/buildPackage/locations.js
  bin/buildPackage/process/other.js
  bin/buildPackage/process/svelte.js
  bin/buildPackage/process/typescript.js
  package-lock.json
  package.json
Due: none

packaging
  package.json
Due: none

package
  package.json
Due: none

type fixes various
  eslint.config.js
  package-lock.json
  package.json
  src/components/AdSlot/AdScripts.svelte
  src/components/AdSlot/InlineAd.stories.svelte
  src/components/AdSlot/LeaderboardAd.stories.svelte
  src/components/AdSlot/OneTrust.svelte
  src/components/AdSlot/SponsorshipAd.stories.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
  src/components/AdSlot/adScripts/loadScript.ts
  src/components/BeforeAfter/BeforeAfter.svelte
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/PhotoPack/PhotoPack.svelte
  src/components/ReferralBlock/ReferralBlock.svelte
Due: eslint, prettier

lint during release workflow
  .github/workflows/release.yaml
  package.json
Due: none

docs(changeset): Updates Storybook and makes Svelte 4 minimum.
  .changeset/tidy-news-mix.md
Due: none

revert ad iframe width we know doesn't work anyway. remove lefthook
  knip.config.ts
  lefthook.yml
  package.json
  src/components/AdSlot/AdSlot.svelte
Due: eslint, prettier

run knip in lint workflow
  .github/workflows/lint.yaml
  knip.config.ts
  package-lock.json
  package.json
  src/components/GraphicBlock/stories/ai2svelte/data-table.svelte
  src/components/Table/utils.js
Due: eslint, prettier

adds back css dep lost when removing its peer
  package-lock.json
  package.json
Due: none

fix layout demo css
  src/components/Article/Article.stories.svelte
  src/components/Block/Block.stories.svelte
Due: eslint, prettier

fixup new component CLI
  bin/newComponent/index.cjs
Due: none

contrib docs
  CONTRIBUTING.md
Due: none

exclude google ads from iframe reset
  src/components/AdSlot/AdSlot.svelte
  src/scss/reset/_main.scss
Due: eslint, prettier

docs(changeset): Excludes Google ads from iframe reset
  .changeset/khaki-worms-call.md
Due: none

lint
  src/scss/reset/_main.scss
Due: prettier

collapse unfulfilled ads by adding a class to the ad unit and collapsing the container with css :has
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
Due: eslint, prettier

docs(changeset): Ads will collapse if unfulfilled
  .changeset/chilly-eyes-hear.md
Due: none

fixes more menu
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
Due: eslint, prettier

docs(changeset): Fixes "more" menu options
  .changeset/pink-penguins-brush.md
Due: none

Path conditions:
  eslint: any of: src/**/*.{js,svelte}
  prettier: any of: src/**/*.{js,scss,md,svelte}
