Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files} && git add .

prettier:
  run: npx prettier --write {staged_files} && git add .

#302
  src/scss/tokens/borders/_border-radius.scss
  src/scss/tokens/borders/_border-width.scss
Due: prettier

Update chromatic.config.json
  chromatic.config.json
Due: none

Update HeroHeadline.svelte
  src/components/HeroHeadline/HeroHeadline.svelte
Due: eslint, prettier

adds headpile
  src/components/Headpile/Headpile.mdx
  src/components/Headpile/Headpile.stories.svelte
  src/components/Headpile/Headpile.svelte
  src/components/Headpile/Headshot.svelte
  src/components/Headpile/KeyFigure.svelte
  src/components/Headpile/images/abdel.png
  src/components/Headpile/images/hemedti.png
  src/index.ts
Due: eslint, prettier

docs(changeset): Adds new Headpile component.
  .changeset/slimy-cities-swim.md
Due: none

Adds customProperty prop to CustomTheme closes #304
  src/components/Theme/@types/component.ts
Due: none

makes SvelteScroller, updates docs
  src/components/Scroller/ScrollerBase/index.svelte
  src/components/SvelteScroller/SvelteScroller.mdx
  src/components/SvelteScroller/SvelteScroller.stories.svelte
  src/components/SvelteScroller/SvelteScroller.svelte
Due: eslint, prettier

renames to ScrollerBase, uses it in Scroller
  src/components/Scroller/Scroller.mdx
  src/components/Scroller/Scroller.svelte
  src/components/Scroller/ScrollerBase/index.svelte
  src/components/ScrollerBase/ScrollerBase.mdx
  src/components/ScrollerBase/ScrollerBase.stories.svelte
  src/components/ScrollerBase/ScrollerBase.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-foreground.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-1.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-2.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-3.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/images/Body-issues-key-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-xs.png
  src/components/SvelteScroller/demo/components/basic/InteractiveForeground.svelte
  src/components/SvelteScroller/demo/components/basic/Step.svelte
  src/index.ts
Due: eslint, prettier

docs(changeset): Creates ScrollerBase component, which is used in Scroller and can be used to make custom scrollytelling components.
  .changeset/khaki-points-pull.md
Due: none

changeset
  src/components/Scroller/Scroller.mdx
Due: none

formats
  src/components/ScrollerBase/ScrollerBase.mdx
Due: none

changes customProperty to key in CustomTheme type interface
  src/components/Theme/@types/component.ts
Due: none

modifies CustomProperties to avoid unknown
  src/components/Theme/@types/component.ts
Due: none

formats
  src/components/Theme/@types/component.ts
Due: none

allow unknown type on theme
  src/components/Theme/@types/component.ts
Due: none

fix type
  src/components/Theme/@types/component.ts
  src/components/Theme/Theme.svelte
Due: eslint, prettier

merge fix
  src/components/Theme/@types/component.ts
Due: none

streamlines scroller bg show/hide logic as utils
  src/components/Scroller/Background.svelte
  src/components/Theme/@types/component.ts
Due: eslint, prettier

adds svelte 5 version of the official scroller demo
  src/components/Scroller/Background.svelte
  src/components/ScrollerBase/ScrollerBase.mdx
  src/components/ScrollerBase/ScrollerBase.stories.svelte
  src/components/ScrollerBase/demo/DraggableLabel.svelte
  src/components/ScrollerBase/demo/ScrollerDemo.svelte
  src/components/Theme/@types/component.ts
Due: eslint, prettier

type fixes
  src/components/ScrollerBase/demo/DraggableLabel.svelte
Due: eslint, prettier

removes unused vars
  src/components/ScrollerBase/demo/DraggableLabel.svelte
Due: eslint, prettier

renames vars
  src/components/Scroller/Background.svelte
Due: eslint, prettier

tweaks showStep logic
  src/components/Scroller/Background.svelte
Due: eslint, prettier

makes rootMargin prop units customiasable closes #221
  src/components/Visible/Visible.mdx
  src/components/Visible/Visible.stories.svelte
  src/components/Visible/Visible.svelte
Due: eslint, prettier

layout edits
  src/components/Headpile/Headpile.svelte
  src/components/Headpile/Headshot.svelte
  src/components/Headpile/KeyFigure.svelte
Due: eslint, prettier

fixes scss pattern
  src/components/Headpile/Headpile.svelte
  src/components/Headpile/KeyFigure.svelte
Due: eslint, prettier

tweaks documentation
  src/components/ScrollerBase/demo/ScrollerDemo.svelte
Due: eslint, prettier

slightly more gap
  src/components/Headpile/Headpile.svelte
Due: eslint, prettier

makes width prop reactive
  src/components/ScrollerBase/ScrollerBase.svelte
Due: eslint, prettier

adds bg colour, changes scroller base demo width to max-width
  src/components/ScrollerBase/demo/ScrollerDemo.svelte
Due: eslint, prettier

adds visible demo
  src/components/Visible/Visible.stories.svelte
  src/components/Visible/demo/VisibleDemo.svelte
Due: eslint, prettier

adds demo text to visible demo
  src/components/Visible/demo/VisibleDemo.svelte
Due: eslint, prettier

adds demo, changes back to px
  src/components/Visible/Visible.svelte
  src/components/Visible/demo/VisibleDemo.svelte
Due: eslint, prettier

lint fix
  src/components/Visible/demo/VisibleDemo.svelte
Due: eslint, prettier

fix video src paths
  src/components/ScrollyVideo/ScrollyVideo.stories.svelte
  src/components/ScrollyVideo/demo/WithScrollerBase.svelte
Due: eslint, prettier

fixes video paths
  src/components/ScrollyVideo/ScrollyVideo.stories.svelte
  src/components/ScrollyVideo/demo/WithScrollerBase.svelte
Due: eslint, prettier

simplfies video paths
  src/components/ScrollyVideo/ScrollyVideo.stories.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: src/**/*.{js,svelte}
  prettier: any of: src/**/*.{js,scss,md,svelte}
