Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files} && git add .

prettier:
  run: npx prettier --write {staged_files} && git add .

fixes styles for chart text furniture. fixes newlines in demo
  src/components/GraphicBlock/GraphicBlock.mdx
  src/components/GraphicBlock/GraphicBlock.stories.svelte
  src/components/GraphicBlock/GraphicBlock.svelte
  src/components/GraphicBlock/components/TextBlock.svelte
Due: eslint, prettier

updates docs
  src/components/PaddingReset/PaddingReset.mdx
  src/components/PaddingReset/PaddingReset.stories.svelte
Due: eslint, prettier

moves scss examples in docs to globa.scss
  src/components/HeroHeadline/HeroHeadline.mdx
Due: none

fix stacked:true in docs to stacked:false
  src/components/HeroHeadline/HeroHeadline.mdx
Due: none

deletes console log
  src/components/Video/Video.svelte
Due: eslint, prettier

deletes unused Controls.svelte file
  src/components/Video/Controls.svelte
Due: eslint, prettier

deletes feature photo & stacked:true demo, defaults inline photo to feature photo not bg-img
  src/components/HeroHeadline/HeroHeadline.stories.svelte
  src/components/HeroHeadline/HeroHeadline.svelte
Due: eslint, prettier

docs edits
  src/components/HeroHeadline/HeroHeadline.mdx
Due: none

framer
  src/components/Framer/Framer.mdx
  src/components/Framer/Framer.stories.svelte
  src/components/Framer/Framer.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/Framer/Typeahead/Search.svelte
  src/components/Framer/Typeahead/fuzzy.js
  src/components/Framer/Typeahead/fuzzy.ts
  src/components/Framer/Typeahead/index.svelte
  src/components/Framer/stores.ts
  src/components/Framer/uniqNames.ts
Due: eslint, prettier

footer
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/SiteFooter/CompanyLinks.svelte
  src/components/SiteFooter/LegalLinks.svelte
  src/components/SiteFooter/QuickLinks.svelte
  src/components/SiteFooter/SiteFooter.mdx
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteFooter/data.json
Due: eslint, prettier

remove old story mds
  src/components/SiteFooter/stories/docs/component.md
  src/components/SiteFooter/stories/docs/darkTheme.md
  src/components/SiteFooter/stories/docs/removeReferrals.md
Due: prettier

SiteHeader
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/time.ts
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
  src/components/SiteHeader/NavBar/index.svelte
  src/components/SiteHeader/NavBar/utils/index.ts
  src/components/SiteHeader/SiteHeader.mdx
  src/components/SiteHeader/SiteHeader.stories.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/SiteHeader/stories/docs/component.md
  src/components/SiteHeader/stories/docs/darkTheme.md
Due: eslint, prettier

unwrap FeaturePhoto from GraphicBlock
  src/components/HeroHeadline/HeroHeadline.svelte
Due: eslint, prettier

pym state export
  src/components/PymChild/PymChild.mdx
  src/components/PymChild/PymChild.svelte
  src/components/PymChild/state.svelte.ts
  src/index.js
Due: eslint, prettier

update dependencies
  package.json
  pnpm-lock.yaml
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.svelte
  src/components/Framer/Framer.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/PaddingReset/PaddingReset.stories.svelte
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/Scroller/Scroller.stories.svelte
  src/components/SimpleTimeline/SimpleTimeline.svelte
  svelte.config.js
  tsconfig.json
  vite.config.ts
Due: eslint, prettier

remove PhotoCarousel
  package.json
  src/components/PhotoCarousel/PhotoCarousel.mdx
  src/components/PhotoCarousel/PhotoCarousel.stories.svelte
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/PhotoCarousel/demo/images.json
  src/components/PhotoCarousel/demo/photos.json
  src/index.js
Due: eslint, prettier

replace lodash-es with es-toolkit
  package.json
  pnpm-lock.yaml
  src/components/AdSlot/OneTrust.svelte
  src/components/BeforeAfter/BeforeAfter.svelte
  src/docs/docs-components/ThemeBuilder/Customiser/Value.jsx
  src/docs/docs-components/ThemeBuilder/ThemeBuilder.jsx
  src/docs/utils/parseCss.js
Due: eslint, prettier

remove and replace markdown component
  package.json
  pnpm-lock.yaml
  src/components/BodyText/BodyText.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/GraphicBlock/GraphicBlock.svelte
  src/components/Headline/Headline.svelte
  src/components/InfoBox/InfoBox.svelte
  src/components/Markdown/Markdown.mdx
  src/components/Markdown/Markdown.stories.svelte
  src/components/Markdown/Markdown.svelte
  src/components/Markdown/state.svelte.ts
  src/components/PhotoPack/PhotoPack.svelte
  src/components/Scroller/Embedded/Foreground.svelte
  src/components/Scroller/Foreground.svelte
  src/components/SimpleTimeline/SimpleTimeline.svelte
  src/index.js
Due: eslint, prettier

cleanup
  src/components/Headline/Headline.svelte
  src/components/InfoBox/InfoBox.svelte
  src/docs/utils/css-to-js/index.d.ts
  src/docs/utils/parseCss.ts
  src/docs/utils/withParams.js
Due: eslint, prettier

passes svelte-check
  src/actions/cssVariables/index.ts
  src/actions/resizeObserver/index.ts
  src/components/Analytics/providers/chartbeat.ts
  src/components/Analytics/providers/ga.ts
  src/components/Article/Article.svelte
  src/components/Byline/Byline.svelte
  src/components/DatawrapperChart/DatawrapperChart.svelte
  src/components/GraphicBlock/demo/ai2svelte/ai-chart.svelte
  src/components/Headline/demo/graphic.svelte
  src/components/HeroHeadline/demo/graphics/crash.svelte
  src/components/HeroHeadline/demo/graphics/quakemap.svelte
  src/components/PhotoPack/PhotoPack.stories.svelte
  src/components/Scroller/ScrollerBase/index.svelte
  src/components/Scroller/demo/components/ai2svelte/ai-foreground.svelte
  src/components/Scroller/demo/components/ai2svelte/ai-scroller-1.svelte
  src/components/Scroller/demo/components/ai2svelte/ai-scroller-2.svelte
  src/components/Scroller/demo/components/ai2svelte/ai-scroller-3.svelte
  src/components/SiteFooter/LegalLinks.svelte
  src/components/Theme/@types/component.ts
  src/components/Theme/Theme.svelte
  src/components/Theme/utils/flatten.ts
  src/components/Theme/utils/merge.js
  src/components/Theme/utils/merge.ts
  src/components/Visible/Visible.mdx
  src/components/Visible/stories/snippets/default.svelte
  src/globals.d.ts
  src/index.js
  src/journalize.d.ts
  tsconfig.json
Due: eslint, prettier

cleanup
  package.json
  pnpm-lock.yaml
  src/components/Theme/stories/ThemedPage.svelte
Due: eslint, prettier

lints
  .storybook/syntax.scss
  package.json
  src/components/AdSlot/LeaderboardAd.stories.svelte
  src/components/Byline/Byline.mdx
  src/components/Headline/Headline.mdx
  src/components/HeroHeadline/HeroHeadline.mdx
  src/components/SearchInput/components/MagnifyingGlass.svelte
  src/components/SearchInput/components/X.svelte
  src/globals.d.ts
  src/scss/tokens/text/mixins/_font-family.scss
  src/utils/index.ts
Due: eslint, prettier

scss cleanup
  src/components/HeroHeadline/HeroHeadline.stories.svelte
  src/components/HeroHeadline/HeroHeadline.svelte
  src/components/SiteFooter/CompanyLinks.svelte
  src/components/SiteFooter/LegalLinks.svelte
  src/components/SiteFooter/QuickLinks.svelte
  src/components/SiteFooter/svgs/Facebook.svelte
  src/components/SiteFooter/svgs/Graphics.svelte
  src/components/SiteFooter/svgs/Instagram.svelte
  src/components/SiteFooter/svgs/LinkedIn.svelte
  src/components/SiteFooter/svgs/Pictures.svelte
  src/components/SiteFooter/svgs/Twitter.svelte
  src/components/SiteFooter/svgs/Videos.svelte
  src/components/SiteFooter/svgs/YouTube.svelte
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/DownArrow.svelte
  src/components/SiteHeader/NavBar/NavDropdown/MoreDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/SectionDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/Spinner/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
  src/components/SiteHeader/NavBar/index.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/SiteHeader/scss/_grids.scss
  src/components/SiteHeader/svgs/Close.svelte
  src/components/SiteHeader/svgs/Menu.svelte
Due: eslint, prettier

fix headline docs
  src/components/Headline/Headline.mdx
Due: none

package
  package.json
Due: none

pass lint rules
  src/components/Byline/Byline.mdx
  src/components/HeroHeadline/HeroHeadline.mdx
  src/components/Scroller/Scroller.mdx
  src/components/SiteHeader/scss/_grids.scss
  src/components/Table/Table.mdx
Due: prettier

block
  src/components/Block/Block.stories.svelte
Due: eslint, prettier

adds back chromatic workflow
  .github/workflows/chromatic.yaml
Due: none

chromatic build script name
  .github/workflows/chromatic.yaml
Due: none

fix es-toolkit import
  .github/workflows/docs.yaml
  src/docs/docs-components/ThemeBuilder/Customiser/Value.jsx
Due: none

adds svelte-check action
  .github/workflows/check.yaml
Due: none

adds a11y testing and an interaction test on SiteHeader
  .storybook/main.ts
  package.json
  pnpm-lock.yaml
  src/components/SiteHeader/SiteHeader.stories.svelte
Due: eslint, prettier

lint
  .storybook/main.ts
Due: none

adds chromatic ignores to SiteHeader dropdown
  src/components/SiteHeader/NavBar/NavDropdown/MoreDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/SectionDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
Due: eslint, prettier

removes new component CLI
  bin/newComponent/index.cjs
  bin/newComponent/template/YourComponent/YourComponent.stories.svelte
  bin/newComponent/template/YourComponent/YourComponent.svelte
  bin/newComponent/template/YourComponent/stories/docs/component.md
  bin/newComponent/template/YourComponent/stories/shark.jpg
  package.json
Due: none

more chromatic ignore
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
Due: eslint, prettier

update docs
  src/actions/cssVariables/cssVariables.mdx
  src/components/AdSlot/InlineAd.mdx
  src/components/AdSlot/SponsorshipAd.mdx
  src/components/Article/Article.mdx
  src/components/Headline/demo/graphic.svelte
  src/components/HeroHeadline/HeroHeadline.mdx
  src/components/HeroHeadline/demo/graphics/crash.svelte
  src/components/PaddingReset/PaddingReset.mdx
  src/docs/contributing/component-guidelines.mdx
  src/docs/contributing/quickstart.mdx
  src/docs/contributing/story-recipes/basic-story.mdx
  src/docs/contributing/story-recipes/source-code.png
  src/docs/contributing/story-recipes/story-with-custom-controls.mdx
  src/docs/contributing/story-recipes/story-with-custom-docs.mdx
  src/docs/contributing/story-recipes/story-with-media.mdx
  src/docs/contributing/writing-component-stories.mdx
  src/docs/contributing/writing-docs-stories.mdx
  src/docs/guides/graphics-kit.mdx
  src/docs/guides/svelte-components.mdx
  src/docs/intro.mdx
Due: eslint, prettier

docs
  src/components/Article/Article.mdx
  src/components/BeforeAfter/BeforeAfter.mdx
  src/components/BodyText/BodyText.mdx
  src/components/Byline/Byline.mdx
  src/components/EndNotes/EndNotes.mdx
  src/components/FeaturePhoto/FeaturePhoto.mdx
  src/components/Framer/Framer.mdx
  src/components/Framer/stories/docs/component.md
  src/components/GraphicBlock/GraphicBlock.mdx
  src/components/Headline/Headline.mdx
  src/components/HeroHeadline/HeroHeadline.mdx
  src/components/InfoBox/InfoBox.mdx
  src/components/PhotoPack/PhotoPack.mdx
  src/components/SEO/SEO.mdx
  src/components/Scroller/Scroller.mdx
  src/components/SimpleTimeline/SimpleTimeline.mdx
  src/components/SiteFooter/SiteFooter.mdx
  src/components/SiteHeader/SiteHeader.mdx
  src/components/SiteHeadline/SiteHeadline.mdx
  src/components/Theme/Theme.mdx
  src/components/Video/Video.mdx
  src/docs/guides/archieml.mdx
  src/docs/guides/graphics-kit.mdx
  src/docs/styles/intro.mdx
Due: prettier

docs
  src/docs/guides/graphics-kit.mdx
Due: none

cleanup knip deps
  knip.config.ts
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  eslint: any of: src/**/*.{js,svelte}
  prettier: any of: src/**/*.{js,scss,md,svelte}
