Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: 'src/**/*.{js,svelte}'
      run: npx eslint --cache --fix {staged_files} && git add .
    prettier:
      glob: 'src/**/*.{js,scss,md,svelte}'
      run: npx prettier --write {staged_files} && git add .

docs(changeset): Docs syntax highlighting and organisation
  .changeset/itchy-papayas-burn.md
Due: none

prettify
  .storybook/preview.scss
  .storybook/syntax.scss
Due: none

fix new component gen
  bin/newComponent/index.cjs
  bin/newComponent/template/YourComponent/YourComponent.stories.svelte
  bin/newComponent/template/YourComponent/YourComponent.svelte
  src/docs/contributing/quickstart.mdx
  src/docs/intro.mdx
  tsconfig.json
Due: none

remove a lot of scss imports
  .storybook/preview.ts
  package.json
  pnpm-lock.yaml
  src/components/Block/Block.svelte
  src/components/Block/stories/docs/snapWidths.md
  src/components/EndNotes/EndNotes.svelte
  src/components/Framer/Typeahead/index.svelte
  src/components/GraphicBlock/GraphicBlock.svelte
  src/components/HeroHeadline/Hero.svelte
  src/components/InfoBox/InfoBox.svelte
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/PhotoPack/PhotoPack.svelte
  src/components/Scroller/Foreground.svelte
  src/components/Table/Select.svelte
  src/components/Table/Table.svelte
  src/docs/docs-components/CopyColourTable/ImportSnippet.jsx
  src/docs/styles/colours/intro.mdx
  src/docs/styles/tokens/intro.mdx
Due: eslint, prettier

more scss
  src/docs/styles/tokens/accessibility/main.mdx
  src/docs/styles/tokens/backgrounds/main.mdx
  src/docs/styles/tokens/intro.mdx
  src/docs/styles/tokens/spacers/main.mdx
  src/docs/styles/tokens/typography/main.mdx
  src/scss/reset/_main.scss
Due: prettier

guides rewrite. rewrites quickit docs. removes Google Doc based utils
  .storybook/preview.scss
  .storybook/preview.ts
  src/components/BodyText/stories/docs/component.md
  src/components/EndNotes/EndNotes.stories.svelte
  src/components/EndNotes/docProps.ts
  src/components/FeaturePhoto/FeaturePhoto.stories.svelte
  src/components/FeaturePhoto/stories/docs/quickit.md
  src/components/GraphicBlock/GraphicBlock.stories.svelte
  src/components/GraphicBlock/stories/docs/quickit.md
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/PhotoPack/PhotoPack.stories.svelte
  src/components/PhotoPack/docProps.ts
  src/components/PhotoPack/stories/docs/quickit.md
  src/components/SEO/SEO.stories.svelte
  src/components/SEO/stories/docs/quickit.md
  src/components/Scroller/Scroller.stories.svelte
  src/components/Scroller/docProps.ts
  src/components/Scroller/stories/docs/ai2svelte.md
  src/components/Scroller/stories/docs/quickit.md
  src/components/SiteHeadline/SiteHeadline.stories.svelte
  src/components/SiteHeadline/stories/docs/quickit.md
  src/docs/guides/customising-with-scss.mdx
  src/docs/guides/getting-help.mdx
  src/docs/guides/google-docs.mdx
  src/docs/guides/graphics-kit.mdx
  src/docs/guides/imgs/copy-code.png
  src/docs/guides/imgs/intro.png
  src/docs/guides/imgs/more-stories.png
  src/docs/guides/using-docs.mdx
  src/index.js
  tsconfig.json
Due: eslint, prettier

docs(changeset): Removes Google Docs-based utils in favour of ArchieML/RNGS.io examples.
  .changeset/strong-plants-worry.md
Due: none

prettify
  bin/newComponent/index.cjs
Due: none

eslint
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: none

don't exclude docs
  .gitignore
  src/components/FeaturePhoto/stories/docs/archieML.md
  src/components/GraphicBlock/stories/docs/archieML.md
  src/components/PhotoPack/stories/docs/archieML.md
  src/components/SEO/stories/docs/archieML.md
  src/components/Scroller/stories/docs/archieML.md
  src/components/SiteHeadline/stories/docs/archieML.md
  src/docs/docs-components/Herbie/Herbie.tsx
  src/docs/docs-components/Highlight/Highlight.tsx
  src/docs/docs-components/SubtleHighlight/SubtleHighlight.tsx
  src/docs/docs-components/syntax/nord.ts
  src/docs/guides/archieml.mdx
  src/docs/guides/svelte-components.mdx
Due: prettier

closes #201
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/ReferralBlock/filterCurrentPage.ts
  src/components/ReferralBlock/types.ts
Due: eslint, prettier

docs(changeset): ReferralBlock checks if a referral is for the current page and doesn't include it if so.
  .changeset/empty-garlics-smell.md
Due: none

prettier
  src/docs/docs-components/CopyColourTable/styles.module.scss
  src/docs/docs-components/ThemeBuilder/NewTheme/styles.module.scss
Due: prettier

duh, don't include query string params in referral check
  src/components/ReferralBlock/filterCurrentPage.ts
Due: none

scroller docs
  src/components/Scroller/stories/docs/ai2svelte.md
  src/components/Scroller/stories/docs/archieML.md
Due: prettier

fix for new referral API thumbnail schema
  .storybook/add-ons/canvas-docs/Tab.tsx
  .storybook/add-ons/canvas-docs/constants.ts
  .storybook/add-ons/canvas-docs/index.tsx
  .storybook/manager.ts
  package.json
  pnpm-lock.yaml
  src/components/Block/Block.stories.svelte
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
Due: eslint, prettier

docs(changeset): Fix for changed thumbnail API schema
  .changeset/khaki-experts-bow.md
Due: none

refactored the Spinner component to match example from storybook
  .storybook/main.ts
  src/components/PhotoPack/PhotoPack.stories.svelte
  src/components/TestForSvelte5/TestForSvelte5.stories.svelte
  src/components/TestForSvelte5/TestForSvelte5.svelte
  src/components/TestForSvelte5/stories/docs/component.md
  src/components/TestForSvelte5/stories/shark.jpg
  src/index.js
  src/stories/Spinner.stories.svelte
  src/stories/Spinner.svelte
Due: eslint, prettier

refactored the FeaturePhoto component as well
  src/components/DatawrapperChart/DatawrapperChart.stories.svelte
  src/components/FeaturePhoto/FeaturePhoto.stories.svelte
  src/components/Spinner/Spinner.svelte
  src/index.js
Due: eslint, prettier

bumps linters
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/components/AdSlot/AdSlot.svelte
Due: eslint, prettier

updates favicon
  src/components/SEO/SEO.svelte
Due: eslint, prettier

docs(changeset): Updates favicons for new kinesis
  .changeset/calm-turtles-joke.md
Due: none

makes byline mdx, deletes old md
  .vscode/settings.json
  src/app.html
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/InlineAd.mdx
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/ResponsiveAd.svelte
  src/components/Article/Article.mdx
  src/components/Byline/Byline.mdx
  src/components/DatawrapperChart/DatawrapperChart.stories.svelte
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/GraphicBlock/stories/ai2svelte/ai-chart.svelte
  src/components/Markdown/Markdown.svelte
  src/components/PymChild/PymChild.svelte
  src/components/ReutersGraphicsLogo/ReutersGraphicsLogo.svelte
  src/components/ReutersLogo/ReutersLogo.svelte
  src/components/SEO/SEO.svelte
  src/components/Scroller/Embedded/index.svelte
  src/components/Scroller/stories/components/basic/InteractiveForeground.svelte
  src/components/SearchInput/SearchInput.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/SectionDropdown.svelte
  src/components/SiteHeader/NavBar/index.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/Table/Pagination.svelte
  src/components/Table/Select.svelte
  src/components/Table/SortArrow.svelte
  src/components/Video/Controls.svelte
Due: eslint, prettier

updated Byline, added snippet examples
  src/components/Byline/Byline.mdx
  src/components/Byline/Byline.stories.svelte
  src/components/Byline/Byline.svelte
Due: eslint, prettier

added docs on snippets
  src/components/Byline/Byline.mdx
  src/components/Byline/Byline.stories.svelte
  src/components/Byline/Byline.svelte
Due: eslint, prettier

migrated, updated BodyText
  src/components/BodyText/BodyText.mdx
  src/components/BodyText/BodyText.stories.svelte
  src/components/BodyText/BodyText.svelte
  src/components/BodyText/stories/docs/component.md
Due: eslint, prettier

cleanup
  src/components/BodyText/BodyText.mdx
Due: none

updates EmbedPreviewerLink
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.mdx
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.stories.svelte
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.svelte
  src/components/EmbedPreviewerLink/stories/docs/component.md
Due: eslint, prettier

updates EndNotes, adds docs
  src/components/DatawrapperChart/DatawrapperChart.stories.svelte
  src/components/EndNotes/EndNotes.mdx
  src/components/EndNotes/EndNotes.stories.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/EndNotes/stories/docs/component.md
Due: eslint, prettier

updates endnotes
  src/components/EndNotes/EndNotes.mdx
  src/components/EndNotes/EndNotes.stories.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/EndNotes/stories/docs/component.md
Due: eslint, prettier

updates infobox
  src/components/InfoBox/InfoBox.stories.mdx
  src/components/InfoBox/InfoBox.stories.svelte
  src/components/InfoBox/InfoBox.svelte
  src/components/InfoBox/stories/docs/component.md
Due: eslint, prettier

migrated infobox, working on documentation
  src/components/InfoBox/InfoBox.mdx
  src/components/InfoBox/InfoBox.stories.mdx
  src/components/InfoBox/InfoBox.stories.svelte
Due: eslint, prettier

finished infobox, adds docs
  src/components/InfoBox/InfoBox.mdx
  src/components/InfoBox/InfoBox.stories.svelte
  src/components/InfoBox/InfoBox.svelte
Due: eslint, prettier

jon edits
  package.json
  pnpm-lock.yaml
  src/components/BodyText/BodyText.mdx
  src/components/BodyText/BodyText.stories.svelte
Due: eslint, prettier

updates dependencies, adds examples to docs
  src/components/Byline/Byline.mdx
  src/components/Byline/Byline.stories.svelte
  src/components/Byline/Byline.svelte
Due: eslint, prettier

updates dependencies, docs
  src/components/EndNotes/EndNotes.mdx
Due: none

language dits
  src/components/EndNotes/EndNotes.mdx
Due: none

doc tweaks
  src/components/EmbedPreviewerLink/EmbedPreviewerLink.mdx
Due: none
