Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

eslint:
  run: npx eslint --cache --fix {staged_files} && git add .

prettier:
  run: npx prettier --write {staged_files} && git add .

story sort
  .storybook/preview.ts
  src/index.ts
Due: none

vite config
  .storybook/manager.ts
  vite.config.ts
Due: none

remove docs panel addon
  .storybook/add-ons/canvas-docs/Tab.tsx
  .storybook/add-ons/canvas-docs/constants.ts
  .storybook/add-ons/canvas-docs/index.tsx
  .storybook/manager.ts
Due: none

tsconfig
  src/index.ts
  tsconfig.json
Due: none

docs(changeset): Updates components to Svelte 5 syntax.
  .changeset/modern-pants-move.md
Due: none

changeset
  .changeset/modern-pants-move.md
Due: none

don't run manual doc publish on push
  .github/workflows/docs.yaml
Due: none

fix bindable vars in Table
  src/components/Table/Table.svelte
  src/components/Table/components/Pagination.svelte
Due: eslint, prettier

makes svelte scroller
  src/components/SvelteScroller/Background.svelte
  src/components/SvelteScroller/Embedded/Background.svelte
  src/components/SvelteScroller/Embedded/Foreground.svelte
  src/components/SvelteScroller/Embedded/index.svelte
  src/components/SvelteScroller/Foreground.svelte
  src/components/SvelteScroller/ScrollerBase/index.svelte
  src/components/SvelteScroller/SvelteScroller.mdx
  src/components/SvelteScroller/SvelteScroller.stories.svelte
  src/components/SvelteScroller/SvelteScroller.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-foreground.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-1.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-2.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/ai-scroller-3.svelte
  src/components/SvelteScroller/demo/components/ai2svelte/images/Body-issues-key-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-1-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-2-xs.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-lg.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-md.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-sm.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-xl.png
  src/components/SvelteScroller/demo/components/ai2svelte/images/step-3-xs.png
  src/components/SvelteScroller/demo/components/basic/InteractiveForeground.svelte
  src/components/SvelteScroller/demo/components/basic/Step.svelte
  src/index.ts
Due: eslint, prettier

update tokens and Block
  src/components/Article/Article.mdx
  src/components/Article/Article.stories.svelte
  src/components/Block/Block.stories.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/HeroHeadline/HeroHeadline.svelte
  src/components/SiteFooter/CompanyLinks.svelte
  src/components/SiteFooter/LegalLinks.svelte
  src/components/SiteFooter/QuickLinks.svelte
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/DownArrow.svelte
  src/components/SiteHeader/NavBar/NavDropdown/Spinner/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
  src/components/SiteHeader/NavBar/index.svelte
  src/components/SiteHeader/SiteHeader.stories.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/Spinner/Spinner.svelte
  src/components/ToolsHeader/ToolsHeader.stories.svelte
  src/scss/tokens/sizing/_width.scss
  src/scss/tokens/spacers/_fluid-margin.scss
  src/scss/tokens/spacers/_fluid-padding.scss
  src/scss/tokens/spacers/_margin.scss
  src/scss/tokens/spacers/_padding.scss
  src/scss/tokens/spacers/mixins/_fluid-margin.scss
  src/scss/tokens/spacers/mixins/_fluid-padding.scss
Due: eslint, prettier

set up basic scroller
  src/components/SvelteScroller/Background.svelte
  src/components/SvelteScroller/Embedded/Background.svelte
  src/components/SvelteScroller/Embedded/Foreground.svelte
  src/components/SvelteScroller/Embedded/index.svelte
  src/components/SvelteScroller/Foreground.svelte
  src/components/SvelteScroller/ScrollerBase/index.svelte
  src/components/SvelteScroller/SvelteScroller.stories.svelte
  src/components/SvelteScroller/SvelteScroller.svelte
Due: eslint, prettier

margins
  src/components/Article/Article.stories.svelte
  src/components/BeforeAfter/BeforeAfter.svelte
  src/components/Block/Block.stories.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/Framer/Typeahead/index.svelte
  src/components/HeroHeadline/HeroHeadline.mdx
  src/components/HeroHeadline/HeroHeadline.stories.svelte
  src/components/PhotoPack/PhotoPack.svelte
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/Scroller/Embedded/Foreground.svelte
  src/components/Scroller/Foreground.svelte
  src/components/SiteFooter/CompanyLinks.svelte
  src/components/SiteFooter/LegalLinks.svelte
  src/components/SiteFooter/QuickLinks.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteHeader/NavBar/NavDropdown/MoreDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/SectionDropdown.svelte
  src/components/SiteHeader/NavBar/NavDropdown/StoryCard/index.svelte
Due: eslint, prettier

expose bindable props
  src/components/Scroller/Scroller.stories.svelte
  src/components/Scroller/Scroller.svelte
Due: eslint, prettier

Create lefthook.yml
  lefthook.yml
Due: none

Delete lefthook.yml
  lefthook.yml
Due: none

docs(changeset): Exposes bindable props for the Scroller component
  .changeset/huge-moles-watch.md
Due: none

stash;
  src/components/SvelteScroller/SvelteScroller.svelte
Due: eslint, prettier

fix rngs.io keys for site headline
  src/components/SiteHeadline/SiteHeadline.mdx
Due: none

fix typo in timeline docs
  src/components/SimpleTimeline/SimpleTimeline.mdx
Due: none

fixes timeline archieml docs;
  src/components/SimpleTimeline/SimpleTimeline.mdx
Due: none

handles some a11y arias in sitefooter and siteheader we always get dinged on
  src/components/SiteFooter/CompanyLinks.svelte
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/NavBar/NavDropdown/index.svelte
  src/components/SiteHeader/NavBar/index.svelte
Due: eslint, prettier

docs(changeset): a11y fixes for SiteHeader and SiteFooter
  .changeset/rude-beers-drive.md
Due: none

cleans up a spare console log
  src/components/Framer/Typeahead/index.svelte
Due: eslint, prettier

docs(changeset): Cleans up a spare console log left in
  .changeset/mighty-rats-doubt.md
Due: none

fixes for Ad types that were overlapping the component names and a bug in the Framer Resizer
  src/components/AdSlot/@types/ads.ts
  src/components/AdSlot/InlineAd.svelte
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/SponsorshipAd.svelte
  src/components/Framer/Resizer/index.svelte
  src/components/Framer/stories/docs/component.md
Due: eslint, prettier

docs(changeset): fixes for Ad types that were colliding with their component names and a bug in the Framer Resizer
  .changeset/shaky-colts-dress.md
Due: none

lint
  src/components/AdSlot/@types/ads.ts
Due: none

closes #282
  src/components/SEO/SEO.svelte
Due: eslint, prettier

docs(changeset): Ignore hydration mismatch in SEO component ld+json
  .changeset/twelve-ravens-lead.md
Due: none

adds dropdown as default search type for framer
  src/components/Framer/Dropdown/index.svelte
  src/components/Framer/Framer.svelte
Due: eslint, prettier

docs(changeset): Adds a simple dropdown option to search embeds for Framer
  .changeset/easy-dryers-chew.md
Due: none

only fetch referrals on dotcom. half-step to #286
  src/components/ReferralBlock/ReferralBlock.svelte
Due: eslint, prettier

docs(changeset): Don't fetch referrals on non-dotcom domains
  .changeset/itchy-adults-cheer.md
Due: none

allows background to be undefined closes #296
  src/components/@types/global.ts
Due: none

docs(changeset): Allows step.background to be undefined
  .changeset/grumpy-lines-heal.md
Due: none

cleanup
  src/scss/tokens/spacers/_fluid-padding.scss
  src/scss/tokens/spacers/_margin.scss
  src/scss/tokens/spacers/_padding.scss
  src/scss/tokens/spacers/mixins/_fluid-padding.scss
Due: prettier

Create angry-zoos-wonder.md
  .changeset/angry-zoos-wonder.md
Due: none

Update angry-zoos-wonder.md
  .changeset/angry-zoos-wonder.md
Due: none

add rtl and chromatic for testing
  .storybook/main.ts
  chromatic.config.json
  package.json
  pnpm-lock.yaml
  src/components/Table/Table.svelte
Due: eslint, prettier

closes #302
  src/components/BeforeAfter/BeforeAfter.stories.svelte
  src/components/BeforeAfter/BeforeAfter.svelte
  src/components/Byline/Byline.stories.svelte
  src/components/Byline/Byline.svelte
  src/components/SearchInput/SearchInput.svelte
  src/components/SimpleTimeline/SimpleTimeline.svelte
  src/components/Table/Table.svelte
  src/components/Table/components/NextArrow.svelte
  src/components/Table/components/Pagination.svelte
  src/components/Table/components/PrevArrow.svelte
  src/components/Table/components/Select.svelte
Due: eslint, prettier

Path conditions:
  eslint: any of: src/**/*.{js,svelte}
  prettier: any of: src/**/*.{js,scss,md,svelte}
