Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: 'src/**/*.{js,svelte}'
      run: npx eslint --cache --fix {staged_files} && git add .
    prettier:
      glob: 'src/**/*.{js,scss,md,svelte}'
      run: npx prettier --write {staged_files} && git add .

dotcom font aliases for knowledge
  src/scss/fonts/_font-faces.scss
Due: prettier

docs(changeset): Adds Dotcom Knowledge font aliases needed for ads
  .changeset/ten-tips-tell.md
Due: none

chore: Install dependencies with npm i
  package-lock.json
Due: none

feat: Add WunderkindAd component to handle ad slot display based on user login status
  src/components/AdSlot/WunderkindAd.svelte
Due: eslint, prettier

refactor: Remove unnecessary ad slot display code
  src/components/AdSlot/WunderkindAd.svelte
Due: eslint, prettier

minor tweaks to site header for a11y
  src/components/SiteHeader/SiteHeader.svelte
  yarn.lock
Due: eslint, prettier

adds main-content id to main tag
  src/components/Article/Article.svelte
  yarn.lock
Due: eslint, prettier

feat: Implement Dianomi Sponsor Module
  docs/project.json
  src/components/Dianomi/DianomiAd.svelte
Due: eslint, prettier

feat: Export DianomiAd component for future import
  src/index.js
Due: none

fix: Iframe ad not showing since when script loads, div not targeted
  src/components/Dianomi/DianomiAd.svelte
Due: eslint, prettier

fix: replace svelte:head with programmatic script injection
  src/components/AdSlot/WunderkindAd.svelte
Due: eslint, prettier

feat: Add WunderkindAd component export
  src/index.js
Due: none

docs(changeset): Adds a skip link to the header component
  .changeset/few-pets-notice.md
Due: none

add parsely analytics
  src/components/Analytics/Analytics.svelte
  src/components/Analytics/providers/index.ts
  src/components/Analytics/providers/parsely.ts
  src/components/SEO/SEO.svelte
  src/globals.d.ts
Due: eslint, prettier

docs(changeset): Adds parsely analytics
  .changeset/clever-timers-wonder.md
Due: none

fix: Remove unnecessary p letter
  src/components/AdSlot/WunderkindAd.svelte
Due: eslint, prettier

docs: Add WunderkindAd component story docs
  src/components/AdSlot/WunderkindAd.stories.svelte
  src/components/AdSlot/stories/docs/wunderkind.md
Due: eslint, prettier

docs: Add dianomi ad story
  src/components/Dianomi/DianomiAd.stories.svelte
  src/components/Dianomi/stories/docs/dianomi.md
Due: eslint, prettier

docs: Update WunderkindAd component story to include AdScripts
  src/components/AdSlot/WunderkindAd.stories.svelte
Due: eslint, prettier

feat: install bootstrap package via npm
  package-lock.json
  package.json
  src/components/AdSlot/adScripts/bootstrap.ts
Due: none

feat: update AdScripts
  src/components/AdSlot/AdScripts.svelte
Due: eslint, prettier

668856
  src/components/AdSlot/AdScripts.svelte
Due: eslint, prettier

change bootstrap script loc
  src/components/AdSlot/AdScripts.svelte
Due: eslint, prettier

gitignore
  .gitignore
Due: none

don't prettify lockfile
  .prettierignore
  pnpm-lock.yaml
Due: none

docs(changeset): Background change to action workflows...
  .changeset/seven-pants-bathe.md
Due: none

adds implicit dependencies from storybook essentials and a manual publish docs workflow
  .github/workflows/docs.yaml
  package.json
  pnpm-lock.yaml
Due: none

updates SiteFooter, replacing referrals with ReferralBlock. Also centres ReferralBlock
  package.json
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/SiteFooter/Referrals/IntersectionObserver.svelte
  src/components/SiteFooter/Referrals/Link.svelte
  src/components/SiteFooter/Referrals/Referrals.svelte
  src/components/SiteFooter/Referrals/index.svelte
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteFooter/stories/docs/customReferrals.md
  src/components/SiteFooter/svgs/Twitter.svelte
Due: eslint, prettier

docs(changeset): Updates ReferralBlock and SiteFooter
  .changeset/little-experts-jam.md
Due: none

fix undefined
  src/components/ReferralBlock/ReferralBlock.svelte
Due: eslint, prettier

force Knowledge font family in referral block
  src/components/ReferralBlock/ReferralBlock.svelte
Due: eslint, prettier

patch up docs links
  src/components/AdSlot/InlineAd.svelte
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/SponsorshipAd.svelte
  src/components/Analytics/Analytics.svelte
  src/components/Article/Article.svelte
  src/components/BeforeAfter/BeforeAfter.svelte
  src/components/Block/Block.svelte
  src/components/BodyText/BodyText.svelte
  src/components/Byline/Byline.svelte
  src/components/DatawrapperChart/DatawrapperChart.svelte
  src/components/DocumentCloud/DocumentCloud.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/FeaturePhoto/FeaturePhoto.svelte
  src/components/GraphicBlock/GraphicBlock.svelte
  src/components/Headline/Headline.svelte
  src/components/HeroHeadline/Hero.svelte
  src/components/InfoBox/InfoBox.svelte
  src/components/Markdown/Markdown.svelte
  src/components/PaddingReset/PaddingReset.svelte
  src/components/PhotoCarousel/PhotoCarousel.svelte
  src/components/PhotoPack/PhotoPack.svelte
  src/components/PymChild/PymChild.svelte
  src/components/ReferralBlock/ReferralBlock.svelte
  src/components/ReutersGraphicsLogo/ReutersGraphicsLogo.svelte
  src/components/ReutersLogo/ReutersLogo.svelte
  src/components/SEO/SEO.svelte
  src/components/Scroller/Scroller.svelte
  src/components/SearchInput/SearchInput.svelte
  src/components/SimpleTimeline/SimpleTimeline.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/SiteHeadline/SiteHeadline.svelte
  src/components/Spinner/Spinner.svelte
  src/components/Table/Table.svelte
  src/components/Theme/Theme.svelte
  src/components/ToolsHeader/ToolsHeader.svelte
  src/components/Video/Video.svelte
  src/components/Visible/Visible.svelte
Due: eslint, prettier

docs(changeset): Patches up component docs links
  .changeset/rare-queens-rush.md
Due: none

docs(changeset): Reuters Graphics logo refresh
  .changeset/neat-spiders-jump.md
Due: none

unify syntax highlighting as nord. Move some things about in page layout. Updates storybook.
  .storybook/Wrapper.svelte
  .storybook/preview.scss
  .storybook/preview.ts
  .storybook/syntax.scss
  package.json
  pnpm-lock.yaml
  src/components/ReutersGraphicsLogo/stories/docs/component.md
  src/components/ReutersLogo/stories/docs/component.md
  src/docs/docs-components/CopyColourTable/ImportSnippet.jsx
  src/docs/docs-components/CopyColourTable/styles.module.scss
  src/docs/docs-components/ThemeBuilder/NewTheme/NewTheme.jsx
  src/docs/docs-components/ThemeBuilder/NewTheme/styles.module.scss
  src/docs/layout/intro.mdx
  src/docs/theme-builder/theme-builder.mdx
  src/docs/theming/css-variables.mdx
Due: prettier
