Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: 'src/**/*.{js,svelte}'
      run: npx eslint --cache --fix {staged_files} && git add .
    prettier:
      glob: 'src/**/*.{js,scss,md,svelte}'
      run: npx prettier --write {staged_files} && git add .

updates scrollable graphic example
  src/components/HorizontalScroller/HorizontalScroller.mdx
  src/components/HorizontalScroller/assets/illustrator.jpg
  src/components/HorizontalScroller/assets/illustrator.png
  src/components/HorizontalScroller/demo/AdvancedScrollableGraphic.svelte
  src/components/HorizontalScroller/demo/graphic/ai2svelte/demo.svelte
  src/components/HorizontalScroller/demo/graphic/imgs/demo-lg.jpg
  src/components/HorizontalScroller/demo/graphic/imgs/demo-xl.jpg
  src/components/HorizontalScroller/demo/graphic/imgs/layer-overlay-lg.png
  src/components/HorizontalScroller/demo/graphic/imgs/layer-overlay-xl.png
Due: eslint, prettier

disables chromatic snapshot to bypass pixels limit
  src/components/HorizontalScroller/HorizontalScroller.stories.svelte
Due: eslint, prettier

linting
  src/components/HorizontalScroller/demo/graphic/ai2svelte/demo.svelte
Due: eslint, prettier

adds disclaimer for the ScrollerBase integration
  src/components/HorizontalScroller/HorizontalScroller.mdx
Due: none

fix init for componentState
  src/components/HorizontalScroller/HorizontalScroller.svelte
Due: eslint, prettier

fix Lottie destroy
  src/components/Lottie/Lottie.svelte
Due: eslint, prettier

lint
  src/components/Lottie/Lottie.svelte
Due: eslint, prettier

Revert "adds HorizontalScroller"
  src/components/HorizontalScroller/Debug.svelte
  src/components/HorizontalScroller/HorizontalScroller.mdx
  src/components/HorizontalScroller/HorizontalScroller.stories.svelte
  src/components/HorizontalScroller/HorizontalScroller.svelte
  src/components/HorizontalScroller/assets/illustrator.png
  src/components/HorizontalScroller/demo/AdvancedScrollableGraphic.svelte
  src/components/HorizontalScroller/demo/CustomChildrenSnippet.svelte
  src/components/HorizontalScroller/demo/Demo.svelte
  src/components/HorizontalScroller/demo/DemoSnippet.svelte
  src/components/HorizontalScroller/demo/ScrollableGraphic.svelte
  src/components/HorizontalScroller/demo/graphic/ai2svelte/ai-chart.svelte
  src/components/HorizontalScroller/demo/graphic/ai2svelte/demo.svelte
  src/components/HorizontalScroller/demo/graphic/imgs/ai-chart-md.png
  src/components/HorizontalScroller/demo/graphic/imgs/ai-chart-sm.png
  src/components/HorizontalScroller/demo/graphic/imgs/ai-chart-xs.png
  src/components/HorizontalScroller/demo/graphic/imgs/demo-lg.jpg
  src/components/HorizontalScroller/demo/graphic/imgs/demo-xl.jpg
  src/components/HorizontalScroller/demo/graphic/imgs/layer-overlay-lg.png
  src/components/HorizontalScroller/demo/graphic/imgs/layer-overlay-xl.png
  src/components/HorizontalScroller/demo/graphic/placeholder.png
  src/components/HorizontalScroller/demo/withScrollerBase.svelte
  src/components/HorizontalScroller/utils/index.ts
  src/index.ts
Due: eslint, prettier

docs(changeset): Adds Lottie component
  .changeset/flat-birds-sink.md
Due: none

SSR fix
  src/components/Lottie/Lottie.svelte
Due: eslint, prettier

docs(changeset): Adds HorizontalScroller component
  .changeset/proud-camels-arrive.md
Due: none

adds pkg.pr.new workflow
  .github/workflows/pkg.pr.new.yaml
Due: none

contributing docs
  CONTRIBUTING.md
Due: none

docs
  CONTRIBUTING.md
Due: none

set paint property for basemap
  src/components/Map/Map.mdx
  src/components/Map/Map.stories.svelte
Due: eslint, prettier

Add prepare script for GitHub installs
  package.json
Due: none

map layer test addition
  src/components/Map/Map.mdx
  src/components/Map/Map.stories.svelte
  src/components/Map/Map.svelte
  src/components/Map/MapLayer.svelte
  src/index.ts
Due: eslint, prettier

ignore docs and demo files from package
  package.json
Due: none

docs(changeset): Removes demo files, docs and stories from the published package.
  .changeset/clear-berries-speak.md
Due: none

Fix MapLayer context with writable store
  src/components/Map/Map.stories.svelte
  src/components/Map/Map.svelte
  src/components/Map/MapLayer.svelte
Due: eslint, prettier

Add URL fetch support to MapLayer component
  src/components/Map/MapLayer.svelte
Due: eslint, prettier

first run at code drafts
  package.json
  pnpm-lock.yaml
  src/components/Map/Map.mdx
  src/components/Map/Map.stories.svelte
  src/components/Map/Map.svelte
  src/components/Map/MapLayer.svelte
Due: eslint, prettier

add globe
  src/components/Map/Map.mdx
  src/components/Map/Map.stories.svelte
  src/components/Map/Map.svelte
Due: eslint, prettier

fix buttons
  src/components/Map/Map.svelte
Due: eslint, prettier

docs(changeset): Adding a basic pmtiles map component
  .changeset/quiet-zebras-kneel.md
Due: none

Add MapLibre CSS import, fix projection, and update documentation
  src/components/Map/Map.mdx
  src/components/Map/Map.svelte
Due: eslint, prettier

graphic block
  src/components/Map/Map.svelte
Due: eslint, prettier

map protocol
  src/components/Map/Map.svelte
Due: eslint, prettier

projection spec
  src/components/Map/Map.mdx
  src/components/Map/Map.stories.svelte
  src/components/Map/Map.svelte
Due: eslint, prettier

geojson types
  package.json
  pnpm-lock.yaml
  src/components/Map/Map.mdx
  src/components/Map/MapLayer.svelte
Due: eslint, prettier

interactivity
  src/components/Map/Map.svelte
Due: eslint, prettier

substring
  src/components/Map/Map.svelte
Due: eslint, prettier

rm unused css
  src/components/Map/Map.svelte
Due: eslint, prettier

replaces freight text with newsreader text font
  src/components/Theme/Theme.mdx
  src/components/Theme/Theme.stories.svelte
  src/components/Theme/themes/common.js
  src/scss/fonts/_font-faces.scss
  src/scss/tokens/text/_font-family.scss
  src/scss/tokens/text/mixins/_font-family.scss
Due: eslint, prettier

docs(changeset): Replaces FreightText with Newsreader Text font
  .changeset/tired-houses-retire.md
Due: none

format
  src/scss/fonts/_font-faces.scss
Due: prettier

default height
  src/components/Map/Map.svelte
Due: eslint, prettier

rename to TileMap
  src/components/TileMap/TileMap.mdx
  src/components/TileMap/TileMap.stories.svelte
  src/components/TileMap/TileMap.svelte
  src/components/TileMap/TileMapLayer.svelte
  src/index.ts
Due: eslint, prettier

fix #394
  src/scss/fonts/_font-faces.scss
Due: prettier

docs(changeset): Fixes fontface definitions for Newsreader typeface to fix issue with bold and bolder weights.
  .changeset/common-cars-act.md
Due: none
