Repository reuters-graphics/graphics-components: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  commands:
    eslint:
      glob: 'src/**/*.{js,svelte}'
      run: npx eslint --cache --fix {staged_files} && git add .
    prettier:
      glob: 'src/**/*.{js,scss,md,svelte}'
      run: npx prettier --write {staged_files} && git add .

first run at responsive ads
  package.json
  src/components/AdSlot/@types/ads.ts
  src/components/AdSlot/AdScripts.svelte
  src/components/AdSlot/AdSlot.stories.svelte
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/InlineAd.stories.svelte
  src/components/AdSlot/InlineAd.svelte
  src/components/AdSlot/OneTrust.svelte
  src/components/AdSlot/ResponsiveAd.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
  src/components/AdSlot/utils.ts
  src/index.js
  yarn.lock
Due: eslint, prettier

add ads directly to freestar queue after its initialised
  src/components/AdSlot/AdSlot.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
Due: eslint, prettier

graphicId in graphics should be just the UID from graphics server
  src/components/AdSlot/adScripts/bootstrap.ts
Due: none

change sequence
  src/components/AdSlot/AdScripts.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
  src/components/AdSlot/adScripts/loadScript.ts
Due: eslint, prettier

change script load flow to make it identical to initial implementation
  src/components/AdSlot/AdScripts.svelte
  src/components/AdSlot/adScripts/bootstrap.ts
  src/components/AdSlot/adScripts/loadScript.ts
Due: eslint, prettier

remove canary workflow
  .github/workflows/canary.yaml
Due: none

adds sponsorship ad
  src/components/AdSlot/SponsorshipAd.stories.svelte
  src/components/AdSlot/SponsorshipAd.svelte
  src/components/AdSlot/stories/docs/inline.md
  src/components/AdSlot/stories/docs/sponsorship.md
  src/index.js
Due: eslint, prettier

small styles
  src/components/AdSlot/SponsorshipAd.svelte
Due: eslint, prettier

Adds Markdown component and scrubs html directives per #148
  src/components/BodyText/BodyText.svelte
  src/components/EndNotes/EndNotes.svelte
  src/components/GraphicBlock/GraphicBlock.svelte
  src/components/Headline/Headline.svelte
  src/components/InfoBox/InfoBox.svelte
  src/components/Markdown/Markdown.stories.svelte
  src/components/Markdown/Markdown.svelte
  src/components/Markdown/stores.ts
  src/components/Markdown/stories/docs/component.md
  src/components/PhotoPack/PhotoPack.svelte
  src/components/Scroller/Embedded/Foreground.svelte
  src/components/Scroller/Foreground.svelte
  src/components/SimpleTimeline/SimpleTimeline.svelte
  src/index.js
Due: eslint, prettier

margin-inline-start for fluid blocks
  src/components/Block/Block.svelte
Due: eslint, prettier

adds leaderboard ad
  src/components/AdSlot/LeaderboardAd.stories.svelte
  src/components/AdSlot/LeaderboardAd.svelte
  src/components/AdSlot/SponsorshipAd.svelte
  src/components/AdSlot/stories/docs/leaderboard.md
  src/index.js
Due: eslint, prettier

leaderboard, few things
  src/components/AdSlot/LeaderboardAd.svelte
Due: eslint, prettier

update to TR's GA account
  src/components/Analytics/providers/ga.ts
Due: none

fixed height for sponsorship ad
  src/components/AdSlot/SponsorshipAd.svelte
Due: eslint, prettier

sticky leaderboard
  src/components/AdSlot/LeaderboardAd.stories.svelte
  src/components/AdSlot/LeaderboardAd.svelte
Due: eslint, prettier

faster transition on leaderboard
  src/components/AdSlot/LeaderboardAd.svelte
Due: eslint, prettier

ad docs
  src/components/AdSlot/stories/docs/inline.md
  src/components/AdSlot/stories/docs/leaderboard.md
  src/components/AdSlot/stories/docs/sponsorship.md
Due: prettier

can remove graphics referrals from footer
  src/components/SiteFooter/SiteFooter.stories.svelte
  src/components/SiteFooter/SiteFooter.svelte
  src/components/SiteFooter/stories/docs/removeReferrals.md
Due: eslint, prettier

new logo. who dis?
  src/components/ReutersLogo/ReutersLogo.svelte
  src/components/SiteHeader/MobileMenu/index.svelte
  src/components/SiteHeader/SiteHeader.svelte
  src/components/Theme/themes/light.js
Due: eslint, prettier

hotfix for chartbeat registering virtual pages
  src/components/Analytics/providers/chartbeat.ts
  src/globals.d.ts
Due: none

published 1.0.25
  docs/assets/Analytics.stories-7d7cb26b.js.map
  docs/project.json
  package-lock.json
  package.json
Due: none

docs
  src/components/Analytics/stories/docs/multipage.md
Due: prettier

hasten
  src/components/AdSlot/LeaderboardAd.svelte
Due: eslint, prettier

sponsorship ad dimensions
  src/components/AdSlot/SponsorshipAd.svelte
Due: eslint, prettier
